body {
    position: relative;
    margin: 0;
    height: 100%;
    overflow-x: hidden;
  }
  
  body::before {
    content: "";
    background-image: url('../public/5570863.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.5; /* Adjust the opacity value as needed */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1; /* Ensures the background is behind the content */
  }
  